.apparel-items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}


.card{
    overflow:hidden;
    box-shadow:0 2px 20px lightgray;
    background-color: rgb(52, 84, 143) !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}


.card-img-top{
    height: 12rem;
    width: 16rem;
}


.card-title{
    color: black;
}


.card-description{
    color: black;
}


.card-text{
    color: black;
}


.card-btn{
    font-family: inherit;
    font-weight: bold !important;
    font-size: 1rem;
    border: 2px solid blue !important;
    background: transparent !important;
    color:blue !important;
    border-radius: 5px;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover{
    transform:scale(1.02);
}

.card:hover .card-btn{
    background:blue !important;
    color: white !important;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}