.auth-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 75px);
    justify-content: center;
    margin: 0.5rem;
}


.login-form{
    display: flex;
    flex-direction: column;
}


label {
    text-align: left;
    padding: 0.25rem 0;
}


input {
    margin: 0.5rem 0 !important;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}


button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}


.link-btn{
    background: none;
    color: white;
    text-decoration: underline;
}


.container{
    max-width: 500px !important;
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
